nav,header,.Seccion1,.Seccion2,.Seccion3,footer{
    max-width: 95%;
    margin: auto;
}
nav{
   color: black;
   text-align: left;
}

.titulop{
    text-align: center;
    font-size: 150%;
    margin-left:35px;
    margin-right: 0px;
    margin: -70px 200px;
}
.subt{
    text-align: center;
    font-size: 100%;
    margin-left:35px;
    margin-right: 0px;
    margin: 70px 200px;
}
.conceptos{
    font-size: 13.5px;
    text-align: left;
}
.tipos {
    font-size: 17px;
    text-align: left;
}
body{
    background-color: rgb(236, 236, 255);
}
.url{
    font-size: 3px;
}
.virus{
    font-size: 12px;
    text-align: left;
}
.ataques{
    text-align: left;
    font-size: 14.5px;
    }
.Seccion2{
    text-align: center;
    margin: -620px 450px;
    background-color: rgb(215, 216, 255);
}
.Seccion1{
    text-align: center;
    margin-left:35px;
    margin-right: 0px;
    margin: -155px 35px ;
background-color: rgb(215, 216, 255);
}
.Seccion1,.Seccion2,.Seccion3{
    width: 30%;
    height: 600px;
}
.Seccion3{
    text-align: center;
    margin: 20px 880px;
    background-color: rgb(215, 216, 255);
}
.ListaDesplegable{
    display: none;
    position: absolute;
}
li a,boton{
    display: inline-block;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    padding: 0.9em 1em;
}
.ListaDesplegable a{
    color: black;
    display: block;
    text-align: center;
}
.boton:hover .ListaDesplegable{
display: block;
}
li a:hover{
    background-color: rgb(59, 59, 85);
}
.imagend{
    display: block;
    height: 100px;
    margin: -150px 850px;
}
.imageni{
    height: 100px;
}
.act1{
    display: block;
    height: 200px;
    margin: 20px 25px;
}
.act2{
    display: block;
    height: 200px;
    margin: 20px 25px;
}
.act3{
    display: block;
    height: 300px;
    width: 350px;
    margin: 20px 25px;
}
.act4{
    display: block;
    height: 300px;
    width: 350px;
    margin: 20px 25px;
}
.act5{
    display: block;
    height: 300px;
    width: 350px;
    margin: 20px 25px;
}
.Andres{
    display: block;
    height: 300px;
    width: 350px;
    margin: 20px 25px;
}
.Brayan{
    display: block;
    height: 300px;
    width: 350px;
    margin: 20px 25px;
}
.link  {
    font-size: 40px;
}
.intro{
    text-align: left;
    margin: 200px 30px; 
}
footer{
    text-align: center;
    background-color: rgb(187, 187, 255);
}

.Social-bar{
    position: fixed;
    right: 0;
    border: black 2px solid;
    top: 50%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 2000;
}
.icon{
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: flex;
    transition: all .5s;
}
.icon-facebook{
    background: #3b5998;
    border-radius: 1rem 0 0 0;
}
.icon-twitter{
    background: #22CDF3;
}
.icon-google{
    background: orange;
    border-radius: 0 0 0 1rem;
}

